.red-text {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.couleur-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.text-taille{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}