.red-text {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.couleur-text {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.text-taille {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}


.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card-container {
  perspective: 1000px;
}

.animated-card {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animated-card.visible {
  opacity: 1;
  transform: translateY(0);
}
